ol {
list-style: none; 
counter-reset: li; 
}
li:before {
counter-increment: li; 
content: counters(li,".") ". "; 
}
body {    
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
    color: azure;
}
.AAA{
text-align: center;
color:red ; 
}